.anime {
  text-align: center;
}
.anime img {
  border-radius: 15px;
}

.anime .ck {
  font-size: 52px;
  font-weight: 200;
  text-transform: uppercase;
  margin-top: 50px;
}
.anime span {
  font-weight: 400;
}
.anime .pena {
  font-size: 16px;
}
